*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,blue, rgb(231, 131, 131));
    padding: 10px;
}
h2{
    display: flex;
    justify-content: center;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: whitesmoke;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoapp h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoapp h2 img{
    width:50px;
    height: 60px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: yellowgreen;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row:hover{
    background: lightgrey;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: large;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-bottom: 15px;
    user-select: none;
    cursor: pointer;
    background: lightgoldenrodyellow;
    box-shadow: 5px 5px lightgray;
    border-radius: 10px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.SkCCOx_7iW9DDV0MYum4KAHaHa&pid=Api&P=0&h=180);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(https://static.vecteezy.com/system/resources/previews/017/197/461/original/green-check-mark-icon-on-transparent-background-free-png.png);
}
span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
span:hover{
    background: rgb(227, 178, 178);
    border-radius: 50%;
}